build --disk_cache=.bazel-cache/bazel-disk-cache

build --symlink_prefix=dist/
test --test_output=errors

test:debug --test_output=streamed --test_strategy=exclusive --test_timeout=9999 --nocache_test_results --define=VERBOSE_LOGS=1
run:debug --define=VERBOSE_LOGS=1 -- --node_options=--inspect-brk
build:debug --compilation_mode=dbg

# Turn off legacy external runfiles
# This prevents accidentally depending on this feature, which Bazel will remove.
build --nolegacy_external_runfiles

build --incompatible_strict_action_env
run --incompatible_strict_action_env

coverage --instrument_test_targets

try-import %workspace%/.bazelrc.user

