[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pulumi = ">=2.0.0,<3.0.0"
pylint = "*"
pulumi-aws = ">=2.13.1"
python-dotenv = "*"
pyPMatch = "*"
pampy = "*"
boto3 = "*"
rope = "*"
PyInstaller = "*"
common-types = {editable = true,path = "./packages/common/common_types"}

[requires]
python_version = "3.7.7"
